<html>
  <head>
    <title>Blog da Jacqueline Asano</title>
  </head>
  <body>
    <div>
      <h1>Product Management and Women Empowerment</h1>
      <h2> a Product Manager learning/ sharing learnings about Product Management and supporting the growth of women in technology ❤</h2>
    </div>
    <div>
      <p>published: 14.11.2017, 14:46</p>
      <h3><a href="">Meu primeiro post</a></h3>
                <p> oi gente! </p>
    </div>

    <div>
      <p> published: 14.11.2017, 14h47</p>
      <h3><a href="">Meu segundo post</a></h3>
    </div>
  </body>
</html>
