<html>
  <head>
    <title>Blog da Jacqueline Asano</title>
  </head>
  <body>
    <div>
      <h1>Product Management and Women Empowerment</h1>
      <h2> a Product Manager learning/ sharing learnings about Product Management and supporting the growth of women in technology ❤</h2>
    </div>

{% for post in posts %}
    <div>
          <p>published: {{ post.published_date }}</p>
          <h1><a href="">{{ post.title }}</a></h1>
          <p>{{ post.text|linebreaksbr }}</p>
    </div>
{% endfor %}

  </body>
</html>
